ion-toolbar.custom-tab-bar {
  position: fixed;
  bottom: 20px; /* flota encima */
  left: 16px;
  right: 16px;
  margin: 0 auto;
  max-width: 500px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  z-index: 999;
}
ion-toolbar.custom-tab-bar {
  margin: 0 auto;
  max-width: 500px;
}