<!-- src/app/pages/propiedad/propiedad.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="guardarPropiedad()">

    <ion-item *ngFor="let campo of campos">
      <ion-label position="floating">{{ campo.nombre | titlecase }}</ion-label>
      <ion-input
        [type]="campo.tipo"
        [(ngModel)]="model[campo.nombre]"
        [required]="campo.requerido"
        [name]="campo.nombre">
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Guardar Propiedad</ion-button>
  </form>
</ion-content>
